<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">    
   <servlet>
        <servlet-name>Song Servlet</servlet-name>
        <servlet-class>de.htw.ai.kbe.songServlet.SongServlet</servlet-class>
        <init-param>
            <param-name>pathToJSON</param-name>
            <param-value>/home/s0560390/Dokumente/songs.json</param-value>
        </init-param>
    </servlet>

<!---->
    <servlet-mapping>
        <servlet-name>Song Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
